<div class="panel panel-primary">
    <div class="panel-heading" style="font-size: x-large">
        Video upload page
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="videoForm" novalidate>
            <fieldset>
                <legend>Upload video form</legend>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="inputVideo">File</label>
                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputVideo"
                               name="inputVideo"
                               type="file"
                               placeholder="file (required)"
                               ng-model="vm.video.file"
                               required />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    style="width:80px;margin-right:10px"
                                    type="submit"
                                    ng-click="vm.submit(productForm.$valid)">
                                Upload
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default"
                                    style="width:70px"
                                    ng-click="vm.cancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
