<div class="panel panel-primary text-center">
    <div class="panel-heading" style="font-size:x-large">
        Youtube API application on AngularJS
    </div>
    <img src="images/logo.jpg" style="width:400px;margin:20px"/>

    <div class="panel-body">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="text">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="vm.search(text)">Go!</button>
            </span>
        </div><!-- /input-group -->
        <div id="search-container"></div>

        <div>Developed by:</div>
        <h3>Gulchak Zahar</h3>

        <div>gulchak.zahar@gmail.com</div>
        <a href="http://github.com/zahar-g">github.com/zahar-g</a>
    </div>
</div>
