body {
    background-color: #C6D9F1;
}

.user-avatar {
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.nav > li.navbar-small-padding > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.userlink {
    display: block;
    max-width: 175px;
    overflow: hidden;
}
