body {
    background-color: #C6D9F1;
}

.user-avatar {
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.nav > li.navbar-small-padding > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.userlink {
    display: block;
    max-width: 175px;
    overflow: hidden;
}
.dropdown-menu {
    position: relative;
    float: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;
}

#my_video {
    margin: 0 auto;
}

@media (max-width: 440px) {
    #logo {
        display: none;
    }
}
